header {
  background-color: #002e6b;
  width: 100%;
  height: 80px;
}

header img {
  position: relative;
  top: 16px;
  left: 16px;
}

.container {
  width: 100%;
}

section.container-block {
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ececec;
  padding: 20px 0;
}

.box-center {
  width: 100%;
  max-width: 500px;
}

.container-thumbnails {
  display: flex;
  flex-direction: row;
}

.thumbnails {
  border: 1px solid #ececec;
  padding: 5px;
  margin-right: 10px;
}

.thumbnails .active {
  border: 1px solid #2a7bbf;
}

.container-title {
  width: 100%;
  max-width: 500px;
}

.product-name {
  font-size: 20px;
  line-height: 23px;
  padding: 10px;
  text-align: left;
  color: #2a7bbf;
}

.box-info {
  margin: 10px 0;
  border-bottom: 1px solid #ececec;
  padding-bottom: 15px;
}

.characteristcs-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: #646464;
  padding: 10px 0;
}

.percent-avaliation {
  font-weight: bold;
  font-size: 40px;
  line-height: 35px;
  color: #2a7bbf;
  float: left;
  padding: 2px 0;
  margin: 0 15px;
}

.box-text-avaliation {
  margin: 0 15px;
  width: 330px;
}

.text-avaliation {
  font-size: 18px;
  line-height: 14px;
  color: #646464;
}

.note-avaliation {
  font-weight: bold;
  font-size: 40px;
  line-height: 35px;
  color: #2a7bbf;
  padding: 2px 0;
  margin: 0 15px;
}
