<header>
  <img
    src="https://www.casasbahia-imagens.com.br/App_Themes/CasasBahia/img/header/logo-bahia.png"
  />
</header>

<main [className]="'container'">
  <section [className]="'container-block'">
    <img
      src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872784044"
    />

    <div [className]="'container-thumbnails'">
      <!-- IMAGES 65 x 65 -->
      <div [className]="'thumbnails active'">
        <img
          src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872783857"
        />
      </div>

      <div [className]="'thumbnails'">
        <img
          src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872783857"
        />
      </div>

      <div [className]="'thumbnails'">
        <img
          src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872783857"
        />
      </div>

      <div [className]="'thumbnails'">
        <img
          src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872783857"
        />
      </div>

      <div [className]="'thumbnails'">
        <img
          src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872783857"
        />
      </div>
    </div>

    <div [className]="'container-title'">
      <h1 [className]="'product-name'">{{data.Produto.Nome}}</h1>
    </div>
  </section>

  <section [className]="'container-block'">
    <div [className]="'box-center'">
      <h2 [className]="'subject'">Dimensões do Produto</h2>
    </div>
  </section>

  <section [className]="'container-block'">
    <div [className]="'box-center'">
      <h2 [className]="'subject'">Detalhes</h2>
      <div [className]="'text'">
        {{data.Produto.Descricao}}
      </div>
    </div>
  </section>

  <section [className]="'container-block'">
    <div [className]="'box-center'">
      <h2 [className]="'subject'">Características</h2>

      <div
        *ngFor="let characteristc of characteristics"
        [className]="'box-characteristc'"
      >
        <div [className]="'characteristcs-name'">{{characteristc.Nome}}</div>
        <div [className]="'characteristcs-value'">{{characteristc.Valor}}</div>
      </div>
    </div>
  </section>

  <section [className]="'container-block'">
    <div [className]="'box-center'">
      <h2 [className]="'subject'">Especificações Técnicas</h2>

      <div
        *ngFor="let specification of specifications"
        [className]="'box-characteristc'"
      >
        <div [className]="'characteristcs-name'">{{specification.Nome}}</div>
        <div [className]="'characteristcs-value'">{{specification.Valor}}</div>
      </div>
    </div>
  </section>

  <section [className]="'container-block'">
    <div [className]="'box-center'">
      <h2 [className]="'subject'">Avaliação dos clientes</h2>
    </div>
  </section>
</main>
