<header>
  <img
    src="https://www.casasbahia-imagens.com.br/App_Themes/CasasBahia/img/header/logo-bahia.png"
  />
</header>

<section [className]="'container'">
  <div [className]="'card-thumbnails'">
    <img
      src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872784044"
    />

    <div [className]="'container-thumbnails'">
      <!-- IMAGES 65 x 65 -->
      <div [className]="'thumbnails active'">
        <img
          src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872783857"
        />
      </div>

      <div [className]="'thumbnails'">
        <img
          src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872783857"
        />
      </div>

      <div [className]="'thumbnails'">
        <img
          src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872783857"
        />
      </div>

      <div [className]="'thumbnails'">
        <img
          src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872783857"
        />
      </div>

      <div [className]="'thumbnails'">
        <img
          src="http://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=872783857"
        />
      </div>
    </div>

    <div [className]="'product-name'">{{data.Produto.Nome}}</div>
  </div>
</section>
